spring:
  application:
    name: ai-pdf-qa

  profiles:
    active: dev
    group:
      dev: dev
      docker: docker

server:
  port: 8081

management:
  endpoint:
    env:
      show-values: ALWAYS
    health:
      show-details: always

  endpoints:
    web:
      exposure:
        include: "*"

  logging:
    level:
      org.springframework.kafka: DEBUG