server:
  port: 8081

spring:
  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: mistral
      embedding:
        options:
          model: nomic-embed-text

  # Weaviate (LOCAL)
  # -------------------------------
  vectorstore:
    weaviate:
      scheme: http
      host: localhost
      port: 8082
      object-class: PdfChunk


  # -------------------------------
  # Kafka (LOCAL)
  # -------------------------------
  kafka:
    bootstrap-servers: localhost:9092

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      retries: 3
      acks: all

    consumer:
      group-id: demo-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: earliest

    listener:
      ack-mode: record
      missing-topics-fatal: false

  # -------------------------------
  # PostgreSQL (LOCAL)
  # -------------------------------
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

#  # -------------------------------
#  # Ollama (LOCAL)
#  # -------------------------------
#  ai:
#    ollama:
#      base-url: http://localhost:11434
#      chat:
#        options:
#          model: mistral
#      embedding:
#        options:
#          model: nomic-embed-text



# -------------------------------
# Logging
# -------------------------------
logging:
  level:
    root: INFO
    org.springframework.kafka: DEBUG
    dev.langchain4j: DEBUG

# -------------------------------
# Actuator
# -------------------------------
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  logging:
    level:
      org.springframework.kafka: DEBUG