server:
  port: 8081

spring:
  application:
    name: ai-pdf-qa

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: pdf-qa-group
      auto-offset-reset: earliest
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: mistral
      embedding:
        options:
          model: nomic-embed-text

    vectorstore:
      pgvector:
        host: localhost
        port: 5432
        database: postgres
        user: postgres
        password: password
        table-name: pdf_chunks
        dimensions: 768
        initialize-schema: true

      weaviate:
        scheme: http
        host: localhost
        port: 8080
        api-key: ""
        index: pdf_docs

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always